body {
  text-align: center;
  background: lightyellow;
}

.scoreBoard {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 445px;
  margin-top: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

p {
  list-style: none;
  margin: 0 auto;
  padding: 30px;
}

#how-to-play {
  background: lightblue;
  padding: 2px;
  margin: 0 auto;
  width: 500px;
  border-radius: 10%;
}

#score, #lives {
  margin-right: 250px;
}

#chars-title {
  margin: 15px;
  padding: 0;
}

img {
  margin-right: 20px;
  margin-top: 0;
  padding-top: 0;
}

img:hover {
  background: #ffd700;
}

#start {
  background: lightgray;
  width: 200px;
  border-radius: 10%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

#start:hover {
  color: #dc143c;
}
